
.imagen-fondo
{
	width: 100%;
}

.festucafondo{
	width: 667%;
	margin-left: -13px;
	margin-top: -15px;
	margin-bottom: -171px;
}

#comoFunciona  {
   border-color: #79511D;
 }

 #footer {
  background-color: #79511D;
 }

.logoIzquierdaBarra
{
	margin-top: 4%;
	width: 50%;
	height: 50%;
}

#envioGratis
{
margin-top: 12%;
margin-left: 8%;
}

#bannerQuienesSomos {
	height: 50%;
	color:#79511D;
}

 #bannerComoFunciona {
   height: 50%;
	 	color:#79511D;
 }

#botonVisitarTienda
{
	background-color: #157d42;
	margin-top: 4%;
	margin-bottom: 4%;
}

img.imagen-fondo
{
 float: left;

}

img.imagen-footer
{
	float: left;
	height: 65%;
	width: 65%;
}


img.imagen-tienda
{
	margin-left: 5%;
	height: 10%;
	width: 10%;
}

.barra-busqueda
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

img.icono-footer
{
	height: 13%;
	width: 13%;
}

/* PARA EDITAR EL SUSCRIBIRSE */

 /* en esto cambio el color del email que se esta escribiendo */
 input#email.validate
 {
	 color: white;

 }

/* linea debajo con focus */
 input#email:focus {
	 border-bottom: 1px solid #ffd600 ;
	 box-shadow: 0 1px 0 0 #ffd600 ;
 }


/* si es invalido el email */
 input#email.invalid {
	 border-bottom: 1px solid #e53935;
	 box-shadow: 0 1px 0 0 #e53935;
 }

 input#email.valid {
	 border-bottom: 1px solid #e0e0e0;
	 box-shadow: 0 1px 0 0 #e0e0e0;
 }


#texto-qs
{
	font-size: 22px;
}

#como-qs
{
	font-size: 22px;
}

#tituloCategorias
{
	font-size: 33px;
	text-align: center;
	color: white;
}

#tituloCadaCategoria /*titulo arriba de cada imagen */
{
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #4caf50;
}

#contenedorCategorias {

	width: 20%;
  background-color: #424242 ;

}

img.categorias
{
	width: 100%;
	height:  50%;

	border-bottom: 0.5px solid grey;
}

.linea-separadora{
	border: 5px solid grey;
}

.linea-separadora-papelera{
	border:3px solid #000;
	margin-top: 95px;
}

/*.papeleria{
	font-size:65px;
	margin-left: 500px;
	margin-top: -65px;
}
*/
.color-descripcion-anotador{
	color:green;
	font-weight: bold;
	margin-left: 780px;
}

.descripcion-semilla{
	margin-left: 870px;
}

.borde{
	border:3px solid #804000;
}

#cus-qs
{
	font-size: 22px;
	font-style: italic;
}

#cita-gunter
{
	font-size: 30px;
	font-style: italic;
}

#autor-gunter
{
	font-size: 20px;
	font-style: normal;
}

img.separadorQuienesSomos
{
	margin-left: 31.5%;
	margin-right: -31.5%;
}


#datos-footer
{
	font-size: 13px;
}

.datos-footer
{
	text-align: left;
	line-height: 1.8; /*interlineado del texto*/
}

#texto-footer
{
	text-align: center;
}


/* tamaño de los 3 iconos*/
#size-icon
{
	font-size: 120px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.banner img {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
}


#colorTextoBarra{  /* los estilos de las palabras en la navbar */
  color: black;
	font-family: Helvetica;
	font-weight: bold;
	font-stretch: normal;
	font-variant: normal;
}

#fondoImagen{
  background-image: url(../img/festucaFondo2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#videoHome
{
	margin-top: 6%;
	margin-bottom: 2%;
	margin-left: 7%;
	margin-right: 5%;
	width: 52%;
}


#frameVideo{
  border-style: none;
}

#tituloFuncion{
	font-family: Helvetica;
	font-weight: bold;
	background-color: #79511D ;
	color: white;
	vertical-align: bottom;
}

.textoBanner {
	margin: 0px;
	padding: 10px;
}


/*PARTE DE ESTILOS DEL CHECKOUT*/

#buscadorCheckout {
	padding: 0px;
}

#buscador
{
	margin-top: 2%;
	margin-left: -2%;
}



#grillaCamion{
	padding: 0px;
	margin: 0px;
}

div.navbar-fixed
{
	background-color: transparent;  /* le doy un transparente a la barra  */
}

nav.transparent
{
	box-shadow: none;   /* le saco la sombra a la barra   */
}

/*Estilo menu*/
<<<<<<< HEAD
.navbar-fixed{
	opacity: 0.5;
}
#fondoMenu{
	background-color:#00c853;
	}
.nav-wrapper{
	background-color:black;
	}


	#btn-submit{
		cursor:pointer;
		font-size: 15px;

	}
=======
/*.navbar-fixed active{*/
	/*background-color:#00c853;*/
	/*border-style: none;
	box-shadow: none;
}*/


/*
	.transparentBG {
  background-color: rgba(0,0,0,0);
	box-shadow: none;
}*/
>>>>>>> 2e4241e917114a372686b45dbf19c5683ae5cd2d
