

.imagen-fondo
{

	width: 100%;
}

#comoFunciona  {
   border-bottom: solid 20px;
   border-color: #79511D;

 }

 #footer {
  background-color: #79511D;
 }

 #contenedorFunciona {
      position: absolute;
      left: 15%;
      top: 75%;
      background-color: #79511D;
      border-radius: 13px;
 }

#bannerQuienesSomos {
	height: 50%;
}

 #bannerComoFunciona {
   height: 50%;
 }

#botonVisitarTienda
{
	background-color: #397d56;
}


img.imagen-fondo
{
 float: left;

}

img.imagen-footer
{
	float: left;
	height: 65%;
	width: 65%;
}


img.imagen-tienda
{
	margin-left: 5%;
	height: 10%;
	width: 10%;
}

.barra-busqueda
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

img.icono-footer
{
	height: 13%;
	width: 13%;
}

/* PARA CAMBIAR EL SUSCRIBITE*/
/* label color */
	.input-field label {
		color: #000;
	}
	/* label focus color */
	.input-field input[type=email]:focus + label {
		color: #000;
	}
	/* label underline focus color */
	.input-field input[type=email]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}
	/* valid color */
	.input-field input[type=email].valid {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}
	/* invalid color */
	.input-field input[type=email].invalid {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}
	/* icon prefix focus color */
	.input-field .prefix.active {
		color: #000;
	}

#texto-qs
{
	font-size: 22px;
}

#como-qs
{
	font-size: 22px;
}

#cus-qs
{
	font-size: 22px;
	font-style: italic;
}

#cita-gunter
{
	font-size: 30px;
	font-style: italic;
}

#autor-gunter
{
	font-size: 20px;
	font-style: normal;
}

img.separadorQuienesSomos
{
	margin-left: 25%;
	margin-right: -25%;
}


#datos-footer
{
	font-size: 13px;
}

.datos-footer
{
	text-align: left;
	line-height: 1.8; //interlineado del texto
}

#texto-footer
{
	text-align: center;
}


/* tamaño de los 3 iconos*/
#size-icon
{
	font-size: 120px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.banner img {

  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#containerVideo{
  background-image: url(../img/festucaFondo2.jpg);
}

#contenedorVideo{
  border-style: none;
}

#frameVideo{
  border-style: none;
}
