
.imagen-fondo
{
	width: 100%;
}

.producto-sembrable{
	margin-left: 600px;
	margin-top: -25px;
	color:#000;
}

#comoFunciona  {
   border-color: #79511D;
 }

 #footer {
  background-color: #79511D;
 }

.logoIzquierdaBarra
{
	margin-top: 4%;
	width: 50%;
	height: 50%;
	margin-right: 9%;
}

#envioGratis
{
margin-top: 12%;
margin-left: -4%;
align-items: center;
align-self: center;
align-content: center;
}

#bannerQuienesSomos {
	height: 50%;
	color:#79511D;
}

 #bannerComoFunciona {
   height: 50%;
	 	color:#79511D;
 }

#botonVisitarTienda
{
	background-color: #157d42;
	margin-top: 4%;
	margin-bottom: 4%;
}

img.imagen-fondo
{
 float: left;
}

img.imagen-footer
{
	float: left;
	height: 65%;
	width: 65%;
}


img.imagen-tienda
{
	margin-left: 5%;
	height: 10%;
	width: 10%;
}

.barra-busqueda
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

img.icono-footer
{
	height: 13%;
	width: 13%;
}

/* PARA EDITAR EL SUSCRIBIRSE */

 /* en esto cambio el color del email que se esta escribiendo */
 input#email.validate
 {
	 color: white;
 }

/* linea debajo con focus */
 input#email:focus {
	 border-bottom: 1px solid #ffd600 ;
	 box-shadow: 0 1px 0 0 #ffd600 ;
 }



#texto-qs
{
	font-size: 20px;
}

#como-qs
{
	font-size: 21px;
}

#tituloCategorias
{
	font-size: 33px;
	text-align: center;
	color: white;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0%;
	background-color: #424242 ;
}

#tituloCadaCategoria /*titulo arriba de cada imagen */
{
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #4caf50;
	padding: 7px;
	width: 50%;
	margin-bottom: 0px;
	margin-left: 25%;
	margin-right: 25%;
}


#separadorCategorias {
	background-color: #424242 ;
}

img.categorias
{
	width: 100%;
	height:  50%;

	border-bottom: 0.5px solid grey;
}

.linea-separadora{
	border: 5px solid #424242;
}

.linea-separadora-papelera{
	border:3px solid #000;
	margin-top: 95px;
}

.papeleria-fondo{
	background-color: grey;
	opacity: 0.5;
	display: none;
}

.borde{
	display: none;
}

#principio{
	display: none;
}

.imagen-anotador{
	width: 40%;
	margin-bottom: -345px;
	margin-left: 3%;
	margin-top: 3%;
}

img.img-cerrar-anotador{
	width: 35px;
	text-align: right;
	align-content: flex-end;
}

.imagen-papeleria-seleccion{
	width: 450px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #000;
	margin-bottom: 2%;
}



.pie-anotador-cm{
	color#000;
	font-weight: bolder;
}

#anotador{
	color #000;
	font-weight: bolder;
	margin:0%;
	padding: 0.5%;
}

#prodColumna2
{
	color #000;
	font-weight: bolder;
	margin-right: 0;
	padding: 1.5%;
}


.pie-imagen-col1{
	color:#000;
	font-weight: bolder;
	font-size: 25px;
	margin-top: -35px;
	margin-left: 1%;;
}


.pie-imagen-col2{
	color:#000;
	font-weight: bolder;
	font-size: 25px;
	margin-top: -35px;
	margin-left: 3%;;
}


.monto-col1{
	color:#800040;
	font-size: 25px;
	margin-left: 1%;
	margin-top: -2%;
}

.monto-col2{
	color:#800040;
	font-size: 25px;
	margin-left: 3%;
	margin-top: -2%;
}

.carrito-p1{
	width: 55px;
	margin-top: 6%;
	margin-left: 21%;
	margin-bottom: -35px;
}

.carrito-p2{
	width: 55px;
	margin-top: 6%;
	margin-left: 25%;
	margin-bottom: -35px;
}

.carrito-p3{
	width: 55px;
	margin-top: 6%;
	margin-left: 26%;
	margin-bottom: -35px;
}

.carrito-p4{
	width: 55px;
	margin-top: 6%;
	margin-left: 34%;
	margin-bottom: -35px;
}



.imagen-papeleria-seleccion1{
	float: right;
	margin-top: -445px;
	width: 450px;
	margin-right: 15px;
	border: 1px solid #000;
}

.tarjeta-personal{
	color:#000;
	font-weight: bolder;
	font-size: 25px;
	margin-top: -130px;
	margin-left:885px;
}



.imagen-papeleria-seleccion2{
	margin-top: 80px;
	width: 450px;
	height: 353px;
	margin-left: 15px;
	border:1px solid #000;
}

.sobre{
	color:#000;
	font-weight: bolder;
	font-size: 25px;
	margin-top:-25px;
	margin-left: 15px;
}

.pie-sobre-cm{
	color #000;
	font-weight: bolder;
}



.imagen-papeleria-seleccion3{
	float: right;
	margin-top: -442px;
	width: 450px;
	height: 353px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #000;
}

.calendario{
	color:#000;
	font-weight: bolder;
	font-size: 25px;
	margin-top:-135px;
	margin-left: 885px;
}



h3 .papeleria{
	font-size:35px;
	color:black;
}

.color-descripcion-anotador{
	color:#157d42;
	font-weight: bold;
}

.descripcion-semilla{
}

#anotador-producto{
	margin-left: 4%;
	margin-right: 4%;
	border-left: none;
}

.borde{
	border:5px solid #804000;
}


.monto{
	font-size: 45px;
	color:#800040;
}

#precio{
	font-size: 45px;
	font-weight: bold;
	font-stretch: condensed;
	color:#800040;
	margin: 0 auto;
	padding: 1.5%;
}

#anotador{
	font-weight: normal;
	font-stretch: semi-condensed;
	font-size: 45px;
	font-family: sans-serif;
	padding: 1.5%;

}

#btnCompra{

	background-color: #157d42;
	font-size: 18px;
	color:white;
	margin-bottom: 3%;
}

.img-carrito{
	width: 50px;
	margin-left: -15px;
	margin-right: 35px;
}

#ciclo
{
	width: 200px;
	height: 200px;
}

.imagen-papeleria-seleccion1-opaca{
	width: 325px;
	margin-left: 15px;
	opacity: 0.4;
	border: 1px solid #000;
}

.imagen-papeleria-seleccion2-opaca2{
	width: 325px;
	margin-left: 195px;
	opacity: 0.4;
	border: 1px solid #000;
}

.imagen-papeleria-seleccion3-opaca3{
	width: 300px;
	margin-left: 15px;
	opacity: 0.4;
	border: 1px solid #000;
	float: right;
}

.img-opacas{
	display: none;
}

#contenedorDeProductos
{
margin-left: 8%;
margin-right: -12%;
}





#cus-qs
{
	font-size: 21px;
	font-style: normal;
	margin-top: 30px;
}

#cita-gunter
{
	font-size: 30px;
	margin-bottom: 12px;
	font-style: italic;
}

#autor-gunter
{
	margin-top: 50px;
	font-size: 20px;
	font-style: normal;
}

img.separadorQuienesSomos
{

}


#datos-footer
{
	font-size: 13px;
}

.datos-footer
{
	text-align: left;
	line-height: 1.8; /*interlineado del texto*/
}

#texto-footer
{
	text-align: center;
}


/* tamaño de los 3 iconos*/
#size-icon
{
	font-size: 120px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.banner img {
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
}


#colorTextoBarra{  /* los estilos de las palabras en la navbar */
  color: black;
	font-family: Helvetica;
	font-weight: bold;
	font-stretch: normal;
	font-variant: normal;
}

#fondoImagen{
  background-image: url(../img/festucaFondo2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#videoHome
{
	margin-top: 6%;
	margin-bottom: 2%;
	margin-left: 7%;
	margin-right: 5%;
	width: 52%;
}


#frameVideo{
  border-style: none;
}

#tituloFuncion{
	font-family: Helvetica;
	font-weight: bold;
	background-color: #79511D ;
	color: white;
	vertical-align: bottom;
}

.textoBanner {
	margin: 0px;
	padding: 10px;
}


.tituloCat
{
	margin-top: 3%;
	width: 30%;
	margin-right: 35%;
	margin-left: 35%;
}




/*PARTE DE ESTILOS DEL CHECKOUT*/

#buscadorCheckout {
	padding: 0px;
}

#iconosCantidad
{
	margin-top: 8%;
}

#tituloProducto
{
	margin-top: 2.5%;
}

#buscador
{
	margin-top: 2%;
	margin-left: -3%;
}


#cajaProductos
{
	margin-top: 5%;
	margin-left: 6%;
	margin-right: 6%;
}

#cajaProductosSinResumen
{
margin-right: -3%;
}


/*resumen de la compra en checkout */

#tituloResumen
{
	background-color: #e0e0e0  ;
	font-size: 12px;
	border: 1px solid black;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	font-weight: bold;
}


#tituloResumenTexto
{
	text-align: center;
	font-weight: bold;
}



#resumenDeCompra
{
margin-bottom: 2%;
}


#recuadroResumen
{
	background-color: white;
	border: 1px solid black;
	padding: 0.5%;
}

#retiroResumen
{
	background-color: #eeeeee;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

#retiroSucursal
{
	font-size: 17px;
	text-align: center;

}

#botonRetiro
{
	width: 35%;
	margin-left: 32.5%;
	margin-right: 32.5%;
	background-color: #157d42;
}

#textoResumen
{
	text-align: center;
	text-decoration: none;
	display: none;
	color:#000;
	font-weight: bolder;
}

#subtotal
{
	font-size: 22px;
	text-align: center;
	color: grey;
}

#total
{
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}

#botonPagar
{
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 4%;
	background-color: #157d42;
}

div.navbar-fixed
{
	background-color: transparent;  /* le doy un transparente a la barra  */
}

nav.transparent
{
	box-shadow: none;   /* le saco la sombra a la barra   */
}

/*Estilo menu*/

.navbar-fixed{

}
#fondoMenu{
	background-color:#00c853;
	}
.nav-wrapper{
	background-color:black;
	}


	#btn-submit{
		cursor: pointer;
		font-size: 15px;
		background-color: #43a047;
		padding: 1px 160px;
		margin-top: 15px;
		margin-bottom: 50px;
	}

	#btn-reset{
		cursor: pointer;
		font-size: 15px;
		background-color: #ef5350;
		margin-top: 15px;
		margin-bottom: 50px;
		padding: 1px 15px;
	}

#formulario
{
	margin-top: 100px;
}

	#error{
		display: none;
		color: red;

	}

	#error2{
		display: none;
		color: red;

	}

	#error3{
		display: none;
		color: red;

	}

	#error4{
		display: none;
		color: red;

	}

	#error5{
		display: none;
		color: red;
	}

	.btn-submit-enviar{
		display: none;
		color: green;
		font-weight: bolder;
	}



body{
  margin:0;
  padding:0;
  height:1000px;
}
.black{
  position:fixed;
  top:0;
  background:#333;
  width:100%;
  height:50px;

}
.black ul{
  list-style-type:none;
  padding:0;
}

.black ul li{
  display:inline-block;
  width:100px;
  color:red;
}

.blue{
  position:fixed;
  top:0;
  background:blue;
  width:100%;
  height:50px;
}
